<div class="my-5 text-center">
  <h1> <nav class="p-2 rounded-circle" style="background-color: #f9dd41;display: inline-block">
    <img src="https://img.icons8.com/color/50/000000/gun.png"/></nav>
    RULETA RUSA BATTLE ROYALE</h1>
  <h2>Es el turno de {{turno.nombre}}</h2>
  <div class="card my-3 mx-auto bg-secondary" style="width: 25rem;border: #263238">
    <div class="card-body ">
      <p class="card-text">Jugadores de la sala</p>
      <app-tarjeta-usuario *ngFor="let usuario of usuarios;let i = index" [usuario]="usuario" [color]="colores[i%6]" [imagen]="imagenes[i%8]"></app-tarjeta-usuario>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="btnDisparar" (click)="disparar()">Disparar</button>
</div>

<p-dialog header="El ganador de la partida es" [(visible)]="displayBasic" [modal]="true" [style]="{width: '50vw',fontFamily:'gameFont'}">
  <app-tarjeta-usuario [usuario]="turno" [color]="colores[obtenerPerfil()]" [imagen]="imagenes[obtenerPerfil()]"></app-tarjeta-usuario>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary" (click)="regresarInicio()">Regresar al inicio</button>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="modalVives" [modal]="true" [style]="{width: '50vw',fontFamily:'gameFont'}">
  <h3>Sigues vivo</h3>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary" (click)="modalVives=false">Continuar</button>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="modalMueres" [modal]="true" [style]="{width: '50vw',fontFamily:'gameFont'}">
  <h3>Has muerto</h3>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary" (click)="modalMueres=false">Continuar</button>
  </ng-template>
</p-dialog>
